.tab-products{
    justify-content: center;
}

.tab-products li{
    padding: 0px 10px;
}

.tab-products li a{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.tab-products li:last-child a{
    border-right: none;
}

.tab-products li a:hover{
    text-decoration: none;
    outline: none;
    color: #3ab54a;
}

.tab-products{
    border: none !important;
}

.title a{
    font-weight: normal;
    color: #000 !important;
}

.title a:hover{
    text-decoration: none !important;
    outline: none;
    color: #3ab54a !important;
}

.box-project{
    overflow: hidden !important;
}

.info strong{
    font-weight: normal !important;
}

@media (max-width: 768px){
    .info-product .info {
        padding: 0px 20px !important;
    }
}

.form-contact{
    margin: 15px 0px;
    padding: 0px 5px;
}

.form-contact .btn-contact{
    background: #3ab54a;
    border: none;
    color: white;
    padding: 8px 20px;
}

.form-contact .btn-contact:hover, .form-contact .btn-contact:focus, .form-contact .btn-contact:active{
    background: #3ab54a !important;
    color: white !important;
    border: none !important;
}

.form-contact input, .form-contact textarea{
    border: 1px solid #3ab54a;
}

/*Paginate*/

.wp-pagenavi .page-item .page-link{
    padding: 4px 12px;
    border: none;
    background: #f7f8fa;
    color: #777777;
}
.wp-pagenavi .page-item .page-link:hover{
    background-color: #3ab54a !important;
    border-color: #3ab54a !important;
    color: #fff;
}
.page-item.active .page-link{
    background-color: #3ab54a !important;
    border-color: #3ab54a !important;
}

.error-message{
    color: red;
}

.info-success{
    padding: 10px 0px;
    text-align: center;
    background: #3ab54a21;
    border-radius: 6px;
    color: #3ab54a;
    margin-bottom: 10px;
}

.link{
    color: #000;
}

.link:hover{
    color: #3ab54a !important;
    text-decoration: none !important;
}

.mobile-category-pull-left{
    float: left;
}

.mobile-category-pull-left h2{
    font-size: 16px;
    color: #3ab54a !important;
}

.mobile-category-pull-right{
    float: right;
}

.mobile-category-pull-right h2{
    font-size: 16px;
}

@media (max-width: 768px){
    .mobile-category-pull-left{
        display: block;
        float: unset;
    }

    .mobile-category-pull-right{
        display: block;
        float: unset;
    }
}

.header-bottom{
    background: #3ab54a !important;
}

.menu-main .menu > li > a{
    color: #fff !important;
    font-weight: normal !important;
    font-size: 14px !important;
    border-right: 1px solid #6bc676 ;
}

.menu-main .menu > li > ul > li > a{
    border-right: none !important;
}

.menu-main .menu > li > a:hover{
    text-decoration: none !important;
    background: #138823;
}

.menu-main .menu > li > ul > li > a{
    background: #fff !important;
}

.menu-main .menu > li > ul > li > a{
    color: #fff !important;
    font-weight: normal !important;
    font-size: 14px !important;
}

.menu-main .menu > li > ul > li > a:hover{
    text-decoration: none !important;
    color: #3ab54a !important;
}


.menu-main li ul, .header-top li ul{
    margin-top: 0px !important;
    background: rgb(255, 255, 255) !important;
}

.menu-main .menu > li > ul > li > a{
    color: #1d1108 !important;
}

.icon{
    color: #3ab54a !important;
}

a.search{
    background: rgba(58, 181, 74, 0.51) !important;
}

button.add-icon{
    background: rgba(58, 181, 74, 0.51) !important;
}

footer {
    background: #333 !important;
    color: #fff;
}

.copyright {
    border-top: 1px solid #fff;
    color: #fff !important;
}

.copyright a{
    color: #3ab54a !important;
}


.menu-main li ul li a:hover, .header-top li ul li a:hover{
    color: #3ab54a !important;
    font-weight: normal !important;
    text-decoration: none !important;
}
.banner-web{
    height: 650px !important;
    overflow: hidden !important;
}
.banner-web > .breadcrumb{
    background: rgba(58, 181, 74, 0.51) !important;
}

@media (max-width: 768px){
    .banner-web {
        height: 100% !important;
    }
}

.header-mid{
    padding: 6px 0 !important;
}

@media (max-width: 768px){
    .header-mid{
        padding: 20px 0 !important;
    }
}

.search-form, .hotline{
    margin-top: 33px !important;
}

/*.menu-main .menu > li > ul > li > a:hover .sub-menu{*/
/*    color: #333 !important;*/
/*}*/

.info-product{
    background: #032f0873 !important;
}

/*Product*/
.product-item{
    text-align: center !important;
    margin-bottom: 20px !important;
    background: #fff !important;
    overflow: hidden !important;
}
.product-item .title{
    text-align: center;
    padding: 10px;
}
body{
    background: #f4f4f4 !important;
}

.header-mid{
    background: #fff !important;
}

@media (min-width: 1270px){
    .container {
        max-width: 1270px !important;
    }
}

@media (min-width: 768px){
    .tab-product .box-nav{
        border-bottom: 1px solid #e1e1e1;
    }
    .tab-product .box-title{
        border-bottom: 1px solid #e1e1e1;
        margin: 0 0px 2px 0;
        position: relative;
    }

    .tab-product .box-title .mobile-category-pull-left:after{
        position: absolute;
        content: "";
        width: 100px;
        height: 3px;
        background: #3ab54a;
        bottom: -3px;
        left: 0px;
    }

    .tab-products li a {
        position: relative;
    }

    .tab-products li a:hover:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #3ab54a;
        bottom: -9px;
        left: 0px;
    }

    .tab-products li a.active:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #3ab54a;
        bottom: -9px;
        left: 0px;
    }
}

.tab-product .tab-pane,.tab-product .col-carousel{
    padding: 0px !important;
}

.tab-product .product-item{
    margin: 0px 10px 20px 0px !important;
}

.product .product-list{
    background: #f4f4f4 !important;
}

.product .product-item{
    background: #f4f4f4 !important;
}

.product .product-item .item-product{
    background: #fff;
}

.carousel-inner img{
    object-fit: cover;
}
